@import 'normalize.css' ;
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

html {
    background-color: #495f8d;
}

*, 
*:after, 
*:before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url("../assets/images/body.jpg") center no-repeat;
    background-size: cover;
    }
    
.body__wrapper{
    backdrop-filter: blur(2px);

}

.container {
    max-width: 1200px;
    min-height: 100vh;
    padding-top: 20px;
    margin: 0 auto;
}

.value {
    font-weight: 500;
}

@media screen and (max-width: 867px) {
    
    body  {
        width: 100vw;
    }
    
}