$light-background: #fff;
$box-shadow: 2px 5px 25px -3px rgba(180,180,180,0.25);
$border-radius: 10px;

$primary-color: #46cbffca;
$light-color: rgb(75, 75, 75);
$dark-color: #fff;
$base-color: #939cb0;

//_________________________________________________________________________

$body-background-dark: #0d1117;
$body-background-light: #fff;

$components-background-dark: rgba(79, 79, 79, 0.4);;
$components-background-light: rgba(255, 255, 255, 0.75);

$card-background-light: rgba(71, 147, 255, 0.2);
$card-background-dark: #2e3035;

$card-box-shadow-light: 0px 3px 20px rgba(147, 144, 144, 0.28);
$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);

$border-light: 1px solid rgba(147, 144, 144, 0.28);
$border-dark: 1px solid rgba(90, 90, 90, 0.28);
//_________________________________________________________________________

:root {
    --body-background-dark: #{$body-background-dark};
    --body-background-light: #{$body-background-light};
    --body-background-default: var(#{--body-background-light});

    --components-background-dark: #{$components-background-dark};
    --components-background-light: #{$components-background-light};
    --components-background-default: var(#{--components-background-light});

    --card-background-dark: #{$card-background-dark};
    --card-background-light: #{$card-background-light};
    --card-background-default: var(#{--card-background-light});
    
    --card-shadow-dark: #{$card-box-shadow-dark};
    --card-shadow-light: #{$card-box-shadow-light};
    --card-shadow-default: var(#{--card-shadow-light});

    --text-color-dark: #{$dark-color};
    --text-color-light: #{$light-color};
    --text-color-default: var(#{--text-color-light});

    --right-border-dark: #{$border-dark};
    --right-border-light: #{$border-light};
    --right-border-default: var(#{--right-border-light});
}