.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

@media screen and (max-width: 867px) {
    
    .wrapper {
        display: block;
        width: 100vw;
    }
    
}