@import '../../styles/variables.scss';

.days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: 0 0 $border-radius $border-radius;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 149px;
    transition: 0.3s;
    cursor: pointer;
    border-right: var(#{--right-border-default});
    
    &:last-child {
        border-right: none
    }

    .day {
        margin-bottom: 7px;
        font-size: 18px;
    }
    .day__info{
        font-size: 14px;
        margin-bottom: 12px;
        color: $base-color;
    }
    .img {
        margin-bottom: 12px;
    }
    .day__temp_day {
        font-size: 18px;
        color: var(#{--text-color-default});
    }
    .day__temp_night {
        font-size: 13px;
        color: var(#{--text-color-default});
        margin-bottom: 6px;        
    }
    .day__info {
        font-size: 13px;
        color: var(#{--text-color-default});
    }
    &:hover  {
        box-shadow: var(#{--card-shadow-default});
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    

    .tabs__warpper {
        display: flex;
    }

    .cancel,
    .tab {
        box-shadow: 2px 5px 25px -3px rgba(180,180,180,0.25);
        border-radius: 5px 5px 0 0;
        padding: 9px 20px;
        background: var(#{--components-background-default});
        margin-right: 15px;
        color: var(#{--text-color-default});
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .tab {
        &:active {
            background: $primary-color;
            color: aliceblue;
        }
    }
    .cancel {
        margin-right: 0;
    }
}

@media screen and (max-width: 867px) {
    
    .tabs {
        padding: 0 6px;

        .tab {
            padding: 8px 10px;
            margin-right: 8px;
        }
    }
    

}